<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shopify.unity.buy">
    <application android:label="@string/app_name" android:supportsRtl="true">
        <!-- Only used for instrument tests! -->
        <activity android:name="com.shopify.unity.buy.MockUnityActivity" />
    </application>
</manifest>
