<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopify.unity.buy">

    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".ConfirmationActivity"
            android:theme="@style/BuyTheme" />

    </application>

</manifest>
